@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

main {
  display: grid;
  place-items: center;
}
